#easy {
  display: block;
  margin: auto;
  width: 250px;
  height: 250px;
  border-radius: 150px;
  border-color: black;
  background-color: purple;
  font-size: 50px;
  color: orange;
}

#daniel {
  display: block;
  margin: auto;
  width: 250px;
  height: 250px;
  border-radius: 150px;
  border-color: black;
  background-color: green;
  font-size: 50px;
  color: black;
}

img {
  display: block;
  margin: auto;
}
